/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import './reset';
@import './navbar';
@import './modal';
@import './splash_welcome';




body {
  min-width: 900px;
  background-color: black;
}

.home-page {
  background: white;
  padding: 20px 0 0 0;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;


  ul {
    list-style: none;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: auto;
    width: 300px;
    margin: 3px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
