.explore-page {
  background: #F3F5F6;
  padding: 20px 0 0 0;
  margin-top: 50px;
  padding-bottom: 30px;
  
  > h1 {
    margin: 0 140px;
    padding: 7px 0;
    font-size: 24px;
    font-weight: 200;
  }
}

@media screen and (max-width: 1300px) {
  .explore-page > h1,
  .explore-page .photo-index {
    margin: 0 100px;
  }
}

@media (max-width: 1100px) {
  .explore-page > h1,
  .explore-page .photo-index {
    margin: 0 50px;
  }
}

@media (max-width: 815px) {
  .explore-page > h1,
  .explore-page .photo-index {
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  .explore-page > h1,
  .explore-page .photo-index {
    margin: 0 5px;
  }
}