[class^='navbar-main-'] {
  display: flex;
  align-items: center;
  z-index: 4;
  position: relative;
}

.navbar-main-splash {
  background-color: rgba(0, 0, 0, .7);

  height: 64px;
  padding-left: 23px;
  padding-right: 23px;
  justify-content: space-between;
}

.navbar-main-user {
  background-color: rgba(0, 0, 0, .9);
  height: 50px;
  padding-left: 12%;
  padding-right: 12%;
  position: fixed;
  width: 78%;

  a { transition: .2s; }
  a:hover { opacity: .75; }
  a.active { pointer-events: none; }
}

.navbar-logo {
  opacity: 1;
  color: white;
  font-size: 31px;
  margin-bottom: 3px;
  font-family: 'Maven Pro', sans-serif;
}

[class^="navbar-session-"]:hover, .navbar-logo:hover {
  cursor: pointer;
}

.navbar-session-login {
  color: white;
  padding: 5px 20px;
  justify-content: center;
}

.navbar-session-signup {
  background: white;
  padding: 6px 20px;
  border-radius: 3px;
  transition: 0.3s;
}

.navbar-session-signup:hover {
  color: grey;
}

.navbar-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-upload-icon, .navbar-info-icon {
  background-color: inherit;
  display: inline-block;
  transition: .2s;
  margin-right: 20px;
}

.navbar-upload-icon {
  background-image: image-url('upload-icon.png');
  background-size: cover;
  width: 30px;
  height: 20px;
}

.navbar-upload-icon:hover {
  opacity: .75;
  cursor: pointer;
}

.navbar-info-icon {
  background-image: image-url('info-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;

  .navbar-info-dropdown-container {
    display: none;
  }
}

.navbar-info-icon:hover {
  cursor: pointer;

  * { cursor: default }

  .navbar-info-dropdown-container {
    display: block;
    border: 20px solid transparent;
    position: relative;
    top: 18px;
    right: 300px;
    min-width: 350px;

    .navbar-info-dropdown {
      background-color: #ffffff;
      border: 1px solid #d3d3d3;
      border-radius: 4px;
      text-align: center;
      padding: 20px;
    }

    .navbar-info-dropdown-header {
      font-family: 'Maven Pro', sans-serif;
      font-size: 24px;
      padding-bottom: 10px;
    }

    .navbar-info-dropdown-body {
      padding-bottom: 10px;
      text-align: justify;
      font-size: 14px;
    }

    .navbar-info-dropdown-footer {
      font-family: 'Maven Pro', sans-serif;
    }

    a {
      color: blue;
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.navbar-avatar-icon {
  background-image: image-url('avatar-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  width: 32px;
  height: 32px;
   
  .navbar-session-dropdown-container {
    display: none;
  }
}

.navbar-avatar-icon:hover {
  cursor: pointer;
  
  * { cursor: default }

  .navbar-session-dropdown-container {
    display: block;
    border: 10px solid transparent;
    position: relative;
    top: 32px;
    right: 150px;
    min-width: 200px;
    
    .navbar-session-dropdown {
      background: #ffffff;
      border: 1px solid #d3d3d3;
      border-radius: 4px;
      text-align: center;
      padding: 10px;
    }

    .navbar-user-name {
      display: block;
      color: #000000;
      font-size: 24px;
      padding: 5px;
    }

    .navbar-session-logout {
      display: inline;
      color: #006dac;
      font-size: 14px;
      margin: 10px;
    }

    .navbar-session-logout:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.navbar-user-links {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: auto;

  a {
    color: white;
    padding: 5px 15px;
  }
}

.navbar-search {
  margin-left: 10px;
  width: 57%;
  box-sizing: border-box;

  input {
    background-color: white;
    padding: 7px;
    width: 100%;
    border-radius: 2px;
  }

}

@media (max-width: 815px) {
  .navbar-main-user {
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    width: 96%;
  }
  .navbar-user-links {
    margin-left: 10px;
  }
}
