.photo-show {
  background-color: #F3F5F6;
  background-size: cover;
  margin-top: 50px;
  min-height: 100vh;
}

.photo-show-box {
  background-color: #212124;
  width: auto;
  margin: auto;

  span {
    position: fixed;
    margin: 15px;
    color: white;
    font-size: 14px;
  }

  span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.photo-show-box img {
  padding: 50px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  min-height: 300px;
  max-height: 685px;
  object-fit: contain;
}

////// photo show information
.photo-show-info-box {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 100px auto;
  min-height: 150px;
  width: 1080px;

  span {
    display: block;
    margin: 10px 0;
  }

  /// column a
  .photo-show-col-a {
    width: 100%;
  
    .photo-show-info {
      display: flex;
    }
  
    .photo-show-user-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: image-url('avatar-icon.svg');
      background-size: cover;
      margin: 5px 10px 0 5px;
    }
  
    .photo-show-user-avatar:hover {
      cursor: pointer;
    }
  
  
    .photo-show-user-info {
      display: inline-block;
      width: 400px;
      border-bottom: 1px solid #b1b1b1;
      padding: 10px;
  
      .photo-show-username {
        font-size: 18px;
        font-weight: bold;
        transition: color .2s;
      }
      .photo-show-username:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #2B6DA7;
      }
  
      .photo-show-title {
        font-weight: bold;
      }
    }

    .photo-show-comments-container {
      margin-left: 30px;
      margin-top: 20px;
      li { list-style: none; }

      .comment-container {
        display: flex;
        transition: .2s;
        margin-right: 35px;
        padding: 10px;
        border-radius: 3px;
      }

      .comment-info {
        padding: 0 10px;
        width: 100%;
      }

      .comment-author-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding-right: 5px;
        background-image: image-url('avatar-icon.svg');
        background-size: cover;
      }

      .comment-author-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .comment-author {
        font-size: 14px;
        color: #006dac;
      }

      .comment-author:hover {
        text-decoration: underline;
      }
      
      .comment-delete-button {
        opacity: 0;
        transition: .2s;
        font-size: 14px;
        padding: 0;
      }

      .comment-delete-button:hover {
        cursor: pointer;
        color: #424242;
        text-decoration: underline
      }

      .comment-container:hover {
        background-color: #FFFFFF;

        .comment-delete-button {
          opacity: 1;
        }
      }

      .comment-body {
        font-size: 14px;
        padding: 5px 0;
        margin: 0;
      }
    }

    .photo-show-comment-form {
      display: inline-block;
      margin-top: 20px;

      .comment-form {
        background-color: #FFFFFF;
        border: 1px solid #9b9b9b;
        margin-left: 75px;
        min-width: 395px;
        min-height: 80px;
        padding: 10px;
        border-radius: 3px;
        font-size: 14px;
        resize: none;
      }

      .comment-submit {
        float: right;
        margin-right: 48px;
        margin-top: 15px;
        padding: 9px 20px;
        background-color: #0091dc;
        color: white;
        font-weight: 400;
        font-size: 16px;
        border-radius: 3px;
        transition: .2s;
      }

      .comment-submit:hover {
        background-color: #00aaff;
        cursor: pointer;
      }
    }
  }

  /// column b
  .photo-show-col-b {
    width: 100%;
    padding-top: 10px;
  
    .photo-show-data {
      box-sizing: content-box;
      height: 30px;
      border-bottom: 1px solid #b1b1b1;
    }
  
    .photo-show-stats {
      float: left;
      margin-right: auto;
  
      .photo-show-comment-count {
        display: inline;
        margin-left: 10px;
      }
    }
  
    .photo-show-date-delete {
      text-align: end;
      float: right;
  
      .photo-show-upload-date {
        margin: 0 5px 5px 5px;
      }
  
      .photo-show-delete-button {
        background-color: #ffaeae;
        margin-top: 20px;
        margin-right: 5px;
        padding: 5px;
        border-radius: 3px;
        transition: .2s;
      }
    
      .photo-show-delete-button:hover {
        background-color: #fcbcbc;
        cursor: pointer;
      }
    }
  }
}

