html, body, h1, h2, h3, h4, h5, h6, p,
div, span, button, a, ul, li, input, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
}

input:focus, button:focus, textarea {
  outline:0;
}
