.splash-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  max-width: 640px;
  min-width: 640px;

  h1 {
    font-size: 56px;
    padding-bottom: 10px;
  }

  p { font-size: 22px; }

  button {
    margin: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: white;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }

  button:hover {
    color: grey;
    cursor: pointer;
  }
}


.splash-slides li span {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: slideShow 24s linear infinite 0s;
}

.splash-slides li:nth-child(1) span {
  background-image: image-url('1.jpg');
}

.splash-slides li:nth-child(2) span {
  background-image: image-url('2.jpeg');
  animation-delay: 6s;
}

.splash-slides li:nth-child(3) span {
  background-image: image-url('3.jpeg');
  animation-delay: 12s;
}

.splash-slides li:nth-child(4) span {
  background-image: image-url('4.jpeg');
  animation-delay: 18s;
}

@keyframes slideShow {
  0% { opacity: 0; animation-timing-function: ease-in; }
  12% { opacity: 1; animation-timing-function: ease-out; }
  25% { opacity: 1; }
  37% { opacity: 0; }
  100% { opacity: 0; }
}
